[Desktop Entry]
Exec=/opt/java6/bin/policytool
Icon=java
Name[cs]=Nastavení politiky Java 6 aplikací
Name=Java 6 Policy Settings
Path=
StartupNotify=true
Terminal=false
Type=Application
Categories=Settings;Java;
