[Desktop Entry]
Exec=/opt/java6/jre/bin/javaws-launcher %f
GenericName[cs]=Spravovat a spouštět aplikace Java 6 Web Start
GenericName=Manage and run Java 6 Web Start Applications
Icon=java
MimeType=application/x-java-jnlp-file;
Name[cs]=Java 6 Web Start
Name=Java 6 Web Start
Path=
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;Java;
