[Desktop Entry]
Exec=/opt/java6/bin/jvisualvm
GenericName[cs]=Nástroj pro monitorování a sledování výkonu Java 6 aplikací
GenericName=Java Monitoring and Performance Monitoring Tool
Icon=java
Name=Java 6 VisualVM
Path=
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Java;
